h1 {      margin: 0px 0px 0px 60px;
   text-decoration: underline black;
}

#how {      
  margin: 0px 0px 0px  90px;


}

#time {    
       margin: 0px 0px 0px 140px;
   text-decoration: underline black;
}

#hi {  
      
     margin: 0px 0px 0px 60px;
}


#ho {   margin: 190px;}


a{   margin: 0px 0px 0px 200px;}


#price {     margin: 0px 0px 0px 250px;}